<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Not-found</title>
        <link rel="stylesheet" href="../styles/not-found.css">
    </head>
    <body>
        <div class="container">
            <img src="../assets/in-dev.gif" alt="in development gif icon"
                width="300">
            <h3>A página ainda está sendo desenvolvida...</h3>
        </div>
    </body>
</html>