@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Stack+Sans+Text:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'inter';
  font-size: medium;
  font-weight: lighter;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30vh;
  gap: 10px;
}
