@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Stack+Sans+Text:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0f172a;
  padding-top: 20vh;
}

a,
p,
h2 {
  font-family: "inter";
}

.card-container {
  background-color: #1e293b;
  border-radius: 16px;
  width: 25%;
  padding-top: 2em;
  padding-bottom: 10px;
}

.card-header-profile-icon img {
  border-radius: 50%;
  height: 13vh;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  gap: 0.5em;
  color: #e5e7eb;
}

.card-header p {
  color: #94a3b8;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding-bottom: 1em;
}

.card-content p {
  padding-bottom: 1.5em;
  text-align: center;
}

.card-content a {
  text-decoration: none;
  color: #e5e7eb;
}

.card-content-buttons {
  width: 70%;
}

.card-content-buttons button {
  width: 100%;
  height: 4vh;
  margin-bottom: 10px;
  background-color: #33578d;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  cursor: pointer;
}

.card-content-buttons button:hover {
  transform: scale(1.05);
}

.card-content-buttons button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

@media (min-width: 1080px) {
  p {
    font-size: 13px;
    padding-inline: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 720px) {
  p {
    font-size: 10px;
  }
  h2 {
    font-size: 1rem;
  }
  .card-container {
    width: 40%;
  }
  .card-content-buttons {
    width: 70%;
  }
  .card-content-buttons button {
    font-size: 10px;
    width: 100%;
    height: 6vh;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 13px;
  }
  h2 {
    font-size: 1.5rem;
  }
  body {
    padding-top: 40%;
  }
  .card-container {
    width: 80%;
  }
  .card-header-profile-icon img {
    border-radius: 50%;
    height: 14vh;
  }
  .card-content-buttons button {
    font-size: 0.9rem;
  }
}
